.mypy_cache
.coverage
htmlcov
.pytest_cache
*__pycache*
.venv
.env
.pipenv
codecov
*/*.db
*.db
.vscode
*nodesource*
s3_data/
.aws
*.env*
*.zip

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
