.mypy_cache
.coverage
htmlcov
.pytest_cache
*__pycache*
*venv*
.pipenv
codecov
*/*.db
*.db
.vscode
*nodesource*
s3_data/
.aws
*.env*
*.zip

*cache*
# sh files to run repetitive commands
smee_client.sh
smee.sh
uvicorn_run.sh


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
