{% extends '_dashboard.html' %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
  $(function(){
    // bind change event to select
    $('#programming_language').on('change', function () {
        var url = "/assessments?languages=" + $(this).val(); // get selected value
        if (url) { // require a URL
            window.location = url; // redirect
        }
        return false;
    });
  });
</script>

{% endblock head %}


{% block content_body %}
<div class="row">
  <div class="col-8">
    <div class="row">
      {% for assessment in assessments %}
        <div class="col-3">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">{{assessment.name}}</h5>
            </div>
            <div class="card-body">
              <p class="card-text">{{assessment.description}}</p>
              {% if assessment.classroom_url == '' %}
                <a target="_blank" href="{{assessment.classroom_url}}" class="btn btn-primary disabled" aria-disabled="true">In development</a>
              {% else %}
                <a target="_blank" href="{{assessment.classroom_url}}" class="btn btn-primary">Start Assessment</a>
              {% endif %}
            </div>
          </div>
          <br>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-2">
    <!--select programming language-->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Language</label>
      </div>
      <select class="form-control" id="programming_language">
        {% for language in languages %}
          {% if language == "All" %}
            <option value="">{{language}}</option>
          {% else %}
            <option value="{{language}}">{{language}}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
  </div>
</div>

{% endblock content_body %}
